<div class="b-mini_cart">
  <div class="b-mini_cart_header">
    SHOPPING CART
    <span class="b-close_search" id="b-close_cart"></span>
  </div>
  <ul class="b-mini_cart_items mb-0 list-unstyled">
    <li class="clearfix">
      <img
        src="assets/images/products/home/product_grid_01_01.jpg"
        width="50"
        alt="item1"
      />
      <span class="item-name">Sony DSC-RX100M III</span>
      <span class="item-price">1&nbsp;x&nbsp;<span>$849.99</span></span>
    </li>

    <li class="clearfix">
      <img
        src="assets/images/products/home/product_grid_02_01.jpg"
        width="50"
        alt="item1"
      />
      <span class="item-name">KS Automatic Mechanic...</span>
      <span class="item-price">1&nbsp;x&nbsp;<span>$849.99</span></span>
    </li>

    <li class="clearfix">
      <img
        src="assets/images/products/home/product_grid_03_01.jpg"
        width="50"
        alt="item1"
      />
      <span class="item-name">Kindle, 6" Glare-Free To...</span>
      <span class="item-price">1&nbsp;x&nbsp;<span>$849.99</span></span>
    </li>
  </ul>
  <div class="shopping-cart-total clearfix pl-3 pr-3 mb-4">
    <span class="lighter-text float-left">Total:</span>
    <span class="main-color-text float-right">$2,229.97</span>
  </div>
  <div class="pl-3 pr-3">
    <a routerLink="/cart" class="btn d-block mb-2">Cart</a>
    <a routerLink="/checkout" class="btn btn-bg d-block">Checkout</a>
  </div>
</div>
<div class="b-main_menu-wrapper hidden-lg-up">
  <ul class="mobile-top">
    <li class="search">
      <div class="search-holder-mobile">
        <input
          type="text"
          name="search-mobile"
          value=""
          placeholder="Search"
          class="form-control"
        />
        <a class="fa fa-search"></a>
      </div>
    </li>
  </ul>
  <ul class="categories">
    <li>
      <a href="/"><span class="top">Home</span></a>
    </li>
    <li>
      <a routerLink="/shopGrid"><span class="top">Shop</span></a>
    </li>
    <li>
      <a routerLink="/cart"><span class="top">Cart</span></a>
    </li>
    <li>
      <a routerLink="/myAccount"><span class="top">My Account</span></a>
    </li>
    <li>
      <a routerLink="/wishlist"><span class="top">wishlist</span></a>
    </li>
    <li>
      <a routerLink="/myAccount"><span class="top">login</span></a>
    </li>
  </ul>
</div>
