<div class="b-mini_cart">
  <div class="b-mini_cart_header">
    SHOPPING CART
    <span class="b-close_search" id="b-close_cart"></span>
  </div>

  <div class="pl-3 pr-3">
    <a routerLink="/cart" class="btn d-block mb-2">Cart</a>
    <a routerLink="/checkout" class="btn btn-bg d-block">Checkout</a>
  </div>
</div>
<div class="b-main_menu-wrapper hidden-lg-up">
  <ul class="mobile-top">

  </ul>
  <ul class="categories">
    <li>
      <a href="/"><span class="top">Home</span></a>
    </li>
    <li >
      <a [routerLink]="['/shop']" [queryParams]="{ category: 'all'}" ><span class="top">Shop</span></a>
    </li>
    <li *ngIf="getEmail()">
      <a routerLink="/cart"><span class="top">Cart</span></a>
    </li>
    <li *ngIf="getEmail()">
      <a routerLink="/myAccount"><span class="top">My Account</span></a>
    </li>
    <li *ngIf="!getEmail()">
      <a routerLink="/myAccount"><span class="top">Login/Register</span></a>
    </li>
    <li *ngIf="getEmail()">
      <a routerLink="/wishlist"><span class="top">wishlist</span></a>
    </li>
    <li>
      <a routerLink="/contactUs"><span class="top">Contact Us</span></a>
    </li>
  </ul>
</div>
