<app-header-top></app-header-top>
<div class="b-wrapper">
  <app-header></app-header>
  <div
    class="rev_slider_wrapper fullwidthbanner-container"
    data-alias="classic4export"
    data-source="gallery"
  >
    <div
      id="b-home_01_slider"
      class="rev_slider fullwidthabanner"
      style="display: none;"
      data-version="5.4.1"
    >
      <ul>
        <li
          data-index="rs-30"
          data-transition="zoomout"
          data-slotamount="default"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="Power4.easeInOut"
          data-easeout="Power4.easeInOut"
          data-masterspeed="2000"
          data-thumb="assets/images/slider/home/main-big-baner-1.jpg"
          data-rotate="0"
          data-fstransition="fade"
          data-fsmasterspeed="1500"
          data-fsslotamount="7"
          data-saveperformance="off"
          data-title="Intro"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description=""
        >
          <img
            src="assets/images/slider/home/main-big-baner-1.jpg"
            alt=""
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina
          />
          <div
            class="tp-caption tp-resizeme font-title rs-parallaxlevel-1"
            data-x="['left','left','left','center']"
            data-hoffset="['50','20','20','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-47','-47','-47','-22']"
            data-fontsize="['250','250','250','210']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":700,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              font-size: 250px;
              font-family: lora;
              line-height: 22px;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.2);
              z-index: 999;
            "
          >
            2020
          </div>
          <div
            class="tp-caption tp-resizeme"
            data-x="['left','left','left','center']"
            data-hoffset="['50','20','20','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-30','-30','-30','-24']"
            data-fontsize="['120','120','120','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              font-size: 120px;
              line-height: 22px;
              font-weight: 700;
              color: rgb(255, 255, 255);
              z-index: 999;
            "
          >
          </div>
          <div
            class="tp-caption tp-resizeme"
            data-x="['left','left','left','center']"
            data-hoffset="['50','20','20','0']"
            data-y="['top','top','top','top']"
            data-voffset="['350','318','318','230']"
            data-fontsize="['73','73','73','40']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              font-family: Caveat;
              color: #fff;
              font-weight: bold;
              z-index: 999;
            "
          >
            New Men's Collection
          </div>
          <div
            class="tp-caption tp-resizeme font-title rs-parallaxlevel-1"
            data-x="['right','right','right','center']"
            data-hoffset="['50','1','1','0']"
            data-y="['middle','middle','middle','center']"
            data-voffset="['-47','-47','-47','0']"
            data-fontsize="['250','250','250','210']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":700,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
          >

          </div>
          <div
            class="tp-caption tp-resizeme"
            data-x="['left','left','left','center']"
            data-hoffset="['50','30','30','0']"
            data-y="['top','top','top','top']"
            data-voffset="['420','420','390','270']"
            data-fontsize="['73','73','73','40']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
          >
          </div>
        </li>
        <li
          data-index="rs-3045"
          data-transition="zoomout"
          data-slotamount="default"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="Power4.easeInOut"
          data-easeout="Power4.easeInOut"
          data-masterspeed="2000"
          data-thumb="assets/images/slider/home/main-big-baner-2.jpg"
          data-rotate="0"
          data-fstransition="fade"
          data-fsmasterspeed="1500"
          data-fsslotamount="7"
          data-saveperformance="off"
          data-title="Intro"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description=""
        >
          <img
            src="assets/images/slider/home/main-big-baner-2.jpg"
            alt=""
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina
          />

          <div
            class="tp-caption tp-resizeme font-title rs-parallaxlevel-1"
            data-x="['center','center','center','center']"
            data-hoffset="['1','1','1','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-47','-47','-47','-22']"
            data-fontsize="['250','250','250','210']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":650,"speed":700,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              font-size: 250px;
              font-family: lora;
              line-height: 22px;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.2);
            "
          >
            2020
          </div>
          <div
            class="tp-caption tp-resizeme"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-30','-30','-30','-44']"
            data-fontsize="['120','120','120','70']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":500,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"x:-50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              font-size: 120px;
              line-height: 22px;
              font-weight: 700;
              color: rgb(255, 255, 255);
            "
          >
            <i class="menu-tag new">NEW</i> STYLE
          </div>
          <div
            class="tp-caption tp-resizeme"
            data-x="['left','center','center','center']"
            data-hoffset="['300','0','0','-2']"
            data-y="['top','top','top','top']"
            data-voffset="['350','318','350','200']"
            data-fontsize="['73','73','73','40']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:50px;opacity:0;","ease":"nothing"}]'
            data-textalign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="font-family: Caveat; color: #fff; font-weight: bold;"
          >
            SHOES Collection For Men
          </div>
          <div
            class="tp-caption NotGeneric-Icon tp-resizeme"
            id="slide-3045-layer-8"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']"
            data-voffset="['-68','-68','-68','-68']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="
              z-index: 7;
              white-space: nowrap;
              text-transform: left;
              cursor: default;
            "
          >
            <i class="pe-7s-refresh"></i>
          </div>
        </li>
      </ul>
      <div
        class="tp-bannertimer"
        style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"
      ></div>
    </div>
  </div>
  <section id="b-products_cat">
    <div class="b-section_title text-center">
      <span>MADE THE HARD WAY</span>
      <h4 class="text-uppercase">
        FEATURED CATEGORIES
        <span class="b-title_separator"><span></span></span>
      </h4>
      <br>
    </div>
    <div class="b-featured_cat">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
            <div class="b-featured_cat_in">
              <a [routerLink]="['/shop']"
              [queryParams]="{ category: 'all' }">
                <img
                  src="assets/images/category/home/feature_cat_01.jpg"
                  class="img-fluid d-block"
                  alt=""
                />
              </a>
              <div class="b-cat_mask">
                <a [routerLink]="['/shop']"
                [queryParams]="{ category: 'all' }" class="category-link-overlay">More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-3 col-xs-12">
            <div class="b-featured_cat_in mb-4">
              <a [routerLink]="['/shop']"
              [queryParams]="{ category: 'shoes' }">
                <img
                  src="assets/images/category/home/feature_cat_02.jpg"
                  class="img-fluid d-block"
                  alt=""
                />
              </a>
              <div class="b-cat_mask">
                <a [routerLink]="['/shop']"
                [queryParams]="{ category: 'shoes' }" class="category-link-overlay">Shoes</a>
              </div>
            </div>
            <div class="b-featured_cat_in">
              <a [routerLink]="['/shop']"
              [queryParams]="{ category: 'jackets' }">
                <img
                  src="assets/images/category/home/feature_cat_03.jpg"
                  class="img-fluid d-block"
                  alt=""
                />
              </a>
              <div class="b-cat_mask">
                <a [routerLink]="['/shop']"
                [queryParams]="{ category: 'jackets' }" class="category-link-overlay">jackets</a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-mb-3 col-sm-3 col-xs-12">
            <div class="b-featured_cat_in">
              <a [routerLink]="['/shop']"
              [queryParams]="{ category: 'watches' }">
                <img
                  src="assets/images/category/home/feature_cat_04.jpg"
                  class="img-fluid d-block"
                  alt=""
                />
              </a>
              <div class="b-cat_mask">
                <a [routerLink]="['/shop']"
                [queryParams]="{ category: 'watches' }" class="category-link-overlay">Watches</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <div class="container">
    <div class="row clearfix mb-2">
      <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
        <section id="b-testimonial">
          <div class="b-section_title">
            <h4 class="text-center text-uppercase">
              WHAT THEY SAY ABOUT US
              <span class="b-title_separator"><span></span></span>
            </h4>
          </div>
          <div class="b-testimonial b-testimonial_small mb-5">
            <div
              class="b-testimonial_listing owl-carousel owl-theme"
              id="b-testimonial_list"
            >
              <div class="b-testimonial_single">
                <div class="b-testimonial_inner">
                  <div class="b-testimonial_avatar">
                    <img
                      class="img-fluid rounded-circle m-auto d-block"
                      src="assets/images/testimonial_01.jpg"
                      alt=""
                      title=""
                      width="100"
                      height="100"
                    />
                  </div>
                  <div class="b-testimonial_content text-center">
                    <p>
                      I really like this website
                    </p>
                    <footer>John Doe <span>Happy Customer</span></footer>
                  </div>
                </div>
              </div>
              <div class="b-testimonial_single">
                <div class="b-testimonial_inner">
                  <div class="b-testimonial_avatar">
                    <img
                      class="img-fluid rounded-circle m-auto d-block"
                      src="assets/images/testimonial_02.jpg"
                      alt=""
                      title=""
                      width="100"
                      height="100"
                    />
                  </div>
                  <div class="b-testimonial_content text-center">
                    <p>
                      The search by image is an awesome feature and it saves a lot of time
                    </p>
                    <footer>John Doe <span>Happy Customer</span></footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-6 col-xs-12">
        <div class="b-instagram_feeds mb-5">
          <ul class="b-instagram_pics list-inline">
            <li>
              <a ></a>
              <div class="wrapp-pics">
                <img
                  src="assets/images/instagram/home/default-instagramm-1.jpg"
                  alt=""
                  class="img-fluid d-block"
                />
                <div class="hover-mask"></div>
              </div>
            </li>
            <li>
              <a  ></a>
              <div class="wrapp-pics">
                <img
                  src="assets/images/instagram/home/default-instagramm-2.jpg"
                  alt=""
                  class="img-fluid d-block"
                />
                <div class="hover-mask"></div>
              </div>
            </li>
            <li>
              <a ></a>
              <div class="wrapp-pics">
                <img
                  src="assets/images/instagram/home/default-instagramm-3.jpg"
                  alt=""
                  class="img-fluid d-block"
                />
                <div class="hover-mask"></div>
              </div>
            </li>
            <li>
              <a ></a>
              <div class="wrapp-pics">
                <img
                  src="assets/images/instagram/home/default-instagramm-4.jpg"
                  alt=""
                  class="img-fluid d-block"
                />
                <div class="hover-mask"></div>
              </div>
            </li>
            <li>
              <a ></a>
              <div class="wrapp-pics">
                <img
                  src="assets/images/instagram/home/default-instagramm-5.jpg"
                  alt=""
                  class="img-fluid d-block"
                />
                <div class="hover-mask"></div>
              </div>
            </li>
            <li>
              <a ></a>
              <div class="wrapp-pics">
                <img
                  src="assets/images/instagram/home/default-instagramm-6.jpg"
                  alt=""
                  class="img-fluid d-block"
                />
                <div class="hover-mask"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="b-gallery_logo_outer">
    <div class="b-gallery_logo">
      <div class="container">
        <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
            <div class="b-gallery_logo_list">
              <ul
                class="p-0 m-0 owl-carousel owl-theme b-count_04"
                id="b-gallery_logo"
              >
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/partners/logo-1.png"
                      class="img-fluid d-block"
                      alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/partners/logo-2.png"
                      class="img-fluid d-block"
                      alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/partners/logo-3.png"
                      class="img-fluid d-block"
                      alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/partners/logo-4.png"
                      class="img-fluid d-block"
                      alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/partners/logo-1.png"
                      class="img-fluid d-block"
                      alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/partners/logo-2.png"
                      class="img-fluid d-block"
                      alt=""
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
  <a href="javascript:;" id="b-scrollToTop" class="b-scrollToTop">
    <span class="basel-tooltip-label">Scroll To Top</span>Scroll To Top
  </a>
  <app-search></app-search>
</div>


<!-- JQUERY:: JQUERY.JS -->
<script src="assets/js/jquery.min.js"></script>

<!-- JQUERY:: BOOTSTRAP.JS -->
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- JQUERY:: OWL.JS -->
<script src="assets/js/plugins/owl/owl.carousel.min.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="assets/js/plugins/revolution/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/plugins/revolution/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS -->
<script src="assets/js/plugins/revolution/revolution.extension.layeranimation.min.js"></script>
<script src="assets/js/plugins/revolution/revolution.extension.navigation.min.js"></script>
<script src="assets/js/plugins/revolution/revolution.extension.parallax.min.js"></script>
<script src="assets/js/plugins/revolution/revolution.extension.slideanims.min.js"></script>

<!-- JQUERY:: CUSTOM.JS -->
<script src="assets/js/custom.js"></script>
