<app-header-top></app-header-top>

<div class="b-wrapper">
  <app-header></app-header>
  <form [formGroup]="contactForm">
    <div class="b-contact b-contact_light pt-5 mt-4">
      <div class="container">
        <div class="row clearfix">
          <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
            <div class="b-title b-title_line_right">
              <h2 class="text-uppercase">get in touch with us</h2>
            </div>
            <div class="clearfix row">
              <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Subject</label>
                  <input type="text" formControlName="subject" id="subject" />
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label>Your Message</label>
                  <div style="text-align: center;">
                    <button
                      mat-mini-fab
                      color="primary"
                      (click)="voiceInteract()"
                      aria-label="Example icon button with a delete icon"
                    >
                      <mat-icon>mic</mat-icon>
                    </button>

                    <input #searchKeyy name="q" id="searchKeyy" type="hidden" />
                  </div>

                  <br />
                  <textarea formControlName="content" id="content"></textarea>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-mb-12 col-sm-12 col-xs-12">
                <button
                  (click)="onSaveFormContact()"
                  class="btn btn-bg text-white"
                >
                  SEND A MESSAGE
                </button>
              </div>
            </div>
            <div class="mt-4" id="mail-status"></div>
          </div>
          <div class="col-xl-6 col-lg-6 col-mb-6 col-sm-12 col-xs-12">
            <div class="b-title b-title_line_righ mt-5 mt-lg -0">
              <h2 class="text-uppercase">Want to discover our latest work ?</h2>
            </div>
            <div class="clearfix mb-5">
              <p class="pull-left mb-0">
                <i class="fa fa-github fa-lg"></i> Ahmed Ferjani: @ahmedFerjani
                <br />
                <i class="fa fa-github fa-lg"></i> Sofiene Achour: @achsofiene10
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <app-footer></app-footer>
  <a href="javascript:;" id="b-scrollToTop" class="b-scrollToTop">
    <span class="basel-tooltip-label">Scroll To Top</span>Scroll To Top
  </a>
  <app-search></app-search>
</div>
<!-- JQUERY:: JQUERY.JS -->
<script src="assets/js/jquery.min.js"></script>

<!-- JQUERY:: BOOTSTRAP.JS -->
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- JQUERY:: CUSTOM.JS -->
<script src="assets/js/custom.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
  // When the window has finished loading create our google map below
  google.maps.event.addDomListener(window, "load", init);

  function init() {
    // Basic options for a simple Google Map
    // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
    var mapOptions = {
      // How zoomed in you want the map to start at (always required)
      zoom: 11,

      // The latitude and longitude to center the map (always required)
      center: new google.maps.LatLng(40.67, -73.94), // New York

      // How you would like to style the map.
      // This is where you would paste any style found on Snazzy Maps.
      styles: [
        {
          featureType: "administrative",
          elementType: "labels.text",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "administrative.country",
          elementType: "labels.text",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "administrative.province",
          elementType: "labels.text",
          stylers: [{ visibility: "on" }],
        },
        {
          featureType: "administrative.locality",
          elementType: "labels.text",
          stylers: [{ visibility: "on" }],
        },
        {
          featureType: "administrative.locality",
          elementType: "labels.text.fill",
          stylers: [{ color: "#625d55" }],
        },
        {
          featureType: "administrative.locality",
          elementType: "labels.text.stroke",
          stylers: [{ weight: "0.95" }],
        },
        {
          featureType: "administrative.neighborhood",
          elementType: "labels.text",
          stylers: [{ visibility: "on" }],
        },
        {
          featureType: "administrative.land_parcel",
          elementType: "labels.text",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "landscape.natural.landcover",
          elementType: "geometry",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "landscape.natural.terrain",
          elementType: "geometry",
          stylers: [{ visibility: "on" }],
        },
        {
          featureType: "poi",
          elementType: "labels.text",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "road",
          elementType: "labels.icon",
          stylers: [{ visibility: "off" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.fill",
          stylers: [
            { color: "#ffffff" },
            { lightness: "0" },
            { weight: "1.00" },
          ],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [{ color: "#f8f8f8" }, { lightness: "0" }],
        },
        {
          featureType: "road.highway.controlled_access",
          elementType: "geometry.fill",
          stylers: [
            { color: "#ffffff" },
            { visibility: "on" },
            { weight: "1" },
          ],
        },
      ],
    };

    // Get the HTML DOM element that will contain your map
    // We are using a div with id="map" seen below in the <body>
    var mapElement = document.getElementById("b-map");

    // Create the Google Map using our element and options defined above
    var map = new google.maps.Map(mapElement, mapOptions);

    // Let's also add a marker while we're at it
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(40.67, -73.94),
      map: map,
      title: "Snazzy!",
    });
  }

  function sendContact() {
    var valid;
    valid = validateContact();
    if (valid) {
      jQuery.ajax({
        url: "contact_mail.php",
        data:
          "userName=" +
          $("#userName").val() +
          "&userEmail=" +
          $("#userEmail").val() +
          "&subject=" +
          $("#subject").val() +
          "&content=" +
          $(content).val(),
        type: "POST",
        success: function (data) {
          $("#mail-status").html(data);
        },
        error: function () {},
      });
    }
  }

  function validateContact() {
    var valid = true;
    $(".demoInputBox").css("background-color", "");
    $(".info").html("");

    if (!$("#userName").val()) {
      $("#userName-info").html("(required)");
      $("#userName").css("background-color", "#FFFFDF");
      valid = false;
    }
    if (!$("#userEmail").val()) {
      $("#userEmail-info").html("(required)");
      $("#userEmail").css("background-color", "#FFFFDF");
      valid = false;
    }

    return valid;
  }
</script>
