<app-header-top></app-header-top>
<div class="b-wrapper">
  <app-header></app-header>
  <div class="b-page_title b-page_title_default text-center">
    <h1 class="b-entry_title"><span>CART</span></h1>
    <div class="b-breadcrumbs">
      <a href="index.html">Home</a>
      <span>CART</span>
    </div>
  </div>
  <section id="b-cart_default">
    <div class="b-cart b-cart_default pb-5">
      <div class="container">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="!getCardProducts().size"
        >
          No products in the Cart!
        </div>
        <table
          id="cart"
          class="table table-hover table-condensed"
          *ngIf="getCardProducts().size"
        >
          <thead>
            <tr>
              <th style="width: 50%;">Product</th>
              <th style="width: 10%;">Price</th>
              <th style="width: 8%;">Quantity</th>
              <th style="width: 22%;" class="text-center">Subtotal</th>
              <th style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product_cart of getCardProducts(); let i = index">
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs">
                    <img
                      src="assets/images/products/{{ product_cart }}"
                      alt="..."
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-sm-10">
                    <h4 class="nomargin">Product {{ i + 1 }}</h4>
                  </div>
                </div>
              </td>
              <td data-th="Price">---</td>
              <td data-th="Quantity">
                <input
                  type="number"
                  class="form-control text-center"
                  [value]="getQuantity(product_cart)"
                />
              </td>
              <td data-th="Subtotal" class="text-center">---</td>
              <td class="actions" data-th="">
                <button
                  class="btn btn-danger btn-sm"
                  (click)="removeProductFromCart(product_cart)"
                >
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <a routerLink="/shop" class="btn btn-warning"
                  ><i class="fa fa-angle-left"></i> Continue Shopping</a
                >
              </td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center">
                <strong>Total $3.99</strong>
              </td>
              <td>
                <a routerLink="/checkout" class="btn btn-success btn-block"
                  >Checkout <i class="fa fa-angle-right"></i
                ></a>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <a href="javascript:;" id="b-scrollToTop" class="b-scrollToTop">
    <span class="basel-tooltip-label">Scroll To Top</span>Scroll To Top
  </a>
  <div class="b-search_popup">
    <form
      role="search"
      method="get"
      id="searchform"
      class="searchform basel-ajax-search"
      action="#"
      data-thumbnail="1"
      data-price="1"
      data-count="3"
    >
      <div>
        <label class="screen-reader-text" for="s"></label>
        <input
          type="text"
          placeholder="Search for products"
          value=""
          name="s"
          id="s"
          autocomplete="off"
        />
        <input type="hidden" name="post_type" id="post_type" value="product" />
        <button type="submit" class="b-searchsubmit" id="b-searchsubmit">
          Search
        </button>
      </div>
    </form>
    <span class="b-close_search" id="b-close_search">close</span>
  </div>
</div>
<!-- JQUERY:: JQUERY.JS -->
<script src="assets/js/jquery.min.js"></script>

<!-- JQUERY:: BOOTSTRAP.JS -->
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- JQUERY:: CUSTOM.JS -->
<script src="assets/js/custom.js"></script>
