<footer class="b-footer_container color-scheme-light hidden -sm-down">
  <!-- footer-bar -->
  <div class="b-copyrights_wrapper">
    <div class="container">
      <div class="d-footer_bar">
        <div class="text-center">
          Made with
          <button
            mat-icon-button
            color="warn"
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          by Ahmed Ferjani
          <a href="https://github.com/ahmedFerjani" class="text-white" target="_blank"
            >@ahmedFerjani</a
          >
          & Sofiene Achour
          <a href="https://github.com/achsofiene10" class="text-white" target="_blank"
            >@achsofiene10</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bar -->
</footer>

